In [31]:
import pandas as pd
import camelot

In [19]:
df = pd.read_excel("data/Full.xlsx", sheet_name="DICKEY'S BARBECUE RESTAURANTS, ").fillna(method='ffill').replace(r'\n',' ', regex=True)
df.columns = df.columns.to_series().replace(r'\n','', regex=True)

In [20]:
pt = pd.pivot_table(df, index=["Year"], columns=["Outlet Type"], values=df.columns)
pt.columns = [('{1}_{0}'.format(*tup)) for tup in pt.columns]

In [5]:
pt.to_excel("data/pivot.xlsx")

In [21]:
pt

,Company- Owned_1,Franchised*_1,Total Outlets_1,Company- Owned_Outlets at the Start of the Year,Franchised*_Outlets at the Start of the Year,Total Outlets_Outlets at the Start of the Year,Company- Owned_Outlets at the End of the Year,Franchised*_Outlets at the End of the Year,Total Outlets_Outlets at the End of the Year,Company- Owned_Net Change,Franchised*_Net Change,Total Outlets_Net Change
Year,,,,,,,,,,,,
2013,5,2,8,0,0,0,0,4,4,0,4,4
2014,6,3,9,0,4,4,0,5,5,0,1,1
2015,7,4,10,0,5,5,0,3,3,0,-2,-2

In [23]:
page_number = 0

In [22]:
tables = camelot.read_pdf("", pages=f"{page_number}")
df = tables[0].df
df[0][df[0]==""] = np.NaN
df = df.fillna(method='ffill')
df = df.rename(columns=df.iloc[0]).drop(df.index[0])
df.to_excel(save_path + os.path.splitext(os.path.basename(file_path))[0] + ".xlsx")

NameError: name 'camelot' is not defined

In [67]:
#scrape pdfs to find which ones have tables
import os
def scrape_pdf(x):
    tables = camelot.read_pdf(x, pages="53-55")
    return tables

In [68]:
tables = scrape_pdf("/Users/trevorpeyton/Downloads/Zzaam Franchising, LLC_2016.pdf")

In [40]:
tables

In [62]:
tables[23].df

,0,1,2,3,4
0,Column 1 \nOutlCType,Column 2,Column 3 \nOutlets at the \nStart of the \nYear,Column 4 \nOutlets at the \nEnd of the Year,!?'■ Column 5S ' \njf. Net Chang^;.
1,Franchised,2013,0,0,0
2,,2014,0,0,0
3,,2015,0,0,0
4,Company-\nOwned,2013,0,0,0
5,,2014,0,1,+1
6,,2015,1,2,+1
7,Total Outlets,2013,0,0,0
8,,2014,0,1,+1
9,,2014,1,2,+1